# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
.mag/
venv/
.venv/
*.egg-info/

# Vector DB
chroma_db/
*.db

# Node / Obsidian plugin
node_modules/
dist/

# Mac
.DS_Store

# Editors
.vscode/
.idea/

#extra
__pycache__/
.mag/
obsidian-plugin/node_modules/
obsidian-plugin/dist/
obsidian-plugin/package-lock.json